body {
  background-color: black;
}

.container {
  width: 50%;
  height: 40%;
  padding: 70px 0;
  margin: auto;
  -webkit-transform: rotateX(55deg);
  -moz-transform: rotateX(55deg);
  -ms-transform: rotateX(55deg);
  -o-transform: rotateX(55deg);
  transform: rotateX(55deg);
}

.container > p {
  color: yellow;
}
