body {
  background-color: black;
}

.container {
  width: 50%;
  height: 40%;
  padding: 70px 0;
  margin: auto;
  display: flex;
  justify-content: center;
  -webkit-transform: rotateX(55deg);
  -moz-transform: rotateX(55deg);
  -ms-transform: rotateX(55deg);
  -o-transform: rotateX(55deg);
  transform: rotateX(55deg);
}

.container > p {
  color: yellow;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
}
